{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recipe Share Account</title>
        <!--
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <link href="timeline.css" rel="stylesheet"/>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet"/>
        -->
        <link href='{% static "bootstrap/css/bootstrap.css" %}'  rel="stylesheet"/>
        <link href='{% static "timeline.css" %}',  rel="stylesheet"/>
        <link href='{% static "bootstrap/css/bootstrap-responsive.css" %}' rel="stylesheet"/>        
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                	<!--
                    <a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </a>
                    <a class="brand" href="#">Smart Brew Recipe Share</a>
                    <div class="nav-collapse" id="navMenu">
                        <ul class="nav center">
                            <li>
                                <a href="timeline.html">Home</a>
                            </li>
                            <li>
                                <a href="profile.html">Profile</a>
                            </li>
                            <li class="active">
                                <a href="#">Account</a>
                            </li>
                        </ul>
                        <div class="btn-group pull-right">
                            <a class="btn" id="adminBtn"> <i class="icon-pencil"> </i> Admin <span class="caret"> </span> </a>
                            <a class="btn" id="logoutBtn"> <i class="icon-user"> </i> Logout <span class="caret"> </span> </a>
                        </div>
                    
                   -->
		            <a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
		            <a class="brand" href="#">Brewvie Recipe Share</a>
		            <div class="nav-collapse"id="navMenu">
		                <ul class="nav center">
		                    <li class="active">
		                        <a href="timeline.html">Home</a>
		                    </li>
		                    <!--
		                    <li>
		                        <a href="profile.html">Profile</a>
		                    </li>
		                    -->
		                    <li>
		                        <a href="account.html">Account</a>
		                    </li>
		                    
		                    <li>
		                        <a id="logoutBtn">logout</a>
		                    </li>
		                    <li>
		                        <a id="adminBtn">Admin</a>
		                    </li>
		                    
		                </ul>
		            </div>
                </div>
            </div>
        </div><!-- End of Navbar -->

		<div class="container bg"><!-- Start of Container -->
		    <div class="row-fluid-an">
		        <div class="span12">
		            <div class="inside center">
		                <h1>Account</h1>
		                <!--
		                <h4 class="between">Python/Django</h4>
		                -->
		            </div>
		            <div class="inside center">
		            	<br/>
		            	<h2>Change your personal information</h2>
		            </div>
		        </div>
		    </div><!-- ENd of row -->
		    <div class="row-fluid-an">
		        <div class="span12">
		            <div class="inside center">
		                <h2>ID</h2>
		                <div class="write">
		                    <input type="text" id="username" disabled="true"/>
		                </div>
		            </div>
		        </div>
		    </div><!-- ENd of row -->
		    
		    <!--
		    <div class="row-fluid">
		        <div class="span12">
		            <div class="inside">
		                <h2> Friend List </h2>
		                <ul class="nav nav-tabs nav-stacked" id="listarea">
		                </ul>
		                <li id="ignoreTemplate" style="display:none;">
		                    <a>
		                        <button class="btn btn-mini btn-info right10 ignoreBtn">
		                            <i id="icon"> </i>
		                        </button>
		                        <span id="name" name="name"> </span>
		                        <span id="ignored">:ignored </span>
		                    </a>
		                </li>
		            </div>
		        </div>
		    </div>
		    -->
		    
		    <!--
            <div class="row-fluid-an">
                <div class="span12 accountbox">
                    <div class="inside">
                        <h3>Old password</h3>
                        <input type="text" id="oldpassword" style="width:95%;"/>
                        <h3>New password</h3>
                        <input type="text" id="newpassword" style="width:95%;"/>
                        <div class="center">
                            <a class="btn" href="#" id="chkPwBtn">Check Password</a>
                            <a class="btn between" href="#" id="setPwBtn">Set Password</a>
                        </div>
                    </div>
                </div>
                <div class="span12 accountbox">
                    <div class="inside">
                        <h2>Name</h2>
                        <input type="text" id="getname" style="width:95%;"/>
                        <div class="center">
                            <a class="btn" href="#" id="getNameBtn">Get name</a>
                            <a class="btn between" href="#" id="setNameBtn">Set name</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- End of Row -->
            
            <div class="row-fluid-an">
                <div class="span12 accountbox">
                    <div class="inside center">
                        <h3>Old password</h3>
                        <input type="text" id="oldpassword"/>
                        <h3>New password</h3>
                        <input type="text" id="newpassword"/>
                        <div class="center">
                            <!--<a class="btn" href="#" id="chkPwBtn">Check Password</a>-->
                            <!--<a class="btn between" href="#" id="setPwBtn">Set Password</a>-->
                            <a class="btn" href="#" id="setPwBtn">Set Password</a>
                        </div>
                    </div>
                </div>
                <div class="span12 accountbox">
                    <div class="inside center">
                        <h2>Name</h2>
                        <input type="text" id="getname"/>
                        <div class="center">
                            <a class="btn" href="#" id="getNameBtn">Get name</a>
                            <a class="btn between" href="#" id="setNameBtn">Set name</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row-fluid-an">
                <div class="span12 center">
                    <div class="inside">
                        <a class="btn btn-large btn-info" href="#" id="refreshBtn">Refresh</a>
                    </div>
                </div>
            </div><!-- ENd of Row -->
		    
		</div><!-- End of Container -->



        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <!--
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="timeline.js"></script>
       	-->
		<script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
        <script type="text/javascript" src='{% static "timeline.js" %}'></script>
        
<script>
    $(document).ready(function() {
        getLoginString();
 
        $("#adminBtn").click(goAdmin);
        $("#logoutBtn").click(doLogout);
 
        $("#username").val(username);
 
        $("#chkPwBtn").click(doCheckPassword);
        $("#setPwBtn").click(function() {
            if ($("#newpassword").val() != "")
                doSetPassword();
            else
                alert("Fill the new password form.");
        });
 
        $("#getNameBtn").click(doGetName);
        $("#setNameBtn").click(doSetName);
 
        doGetUserList();
 
        $(document).on("click", ".ignoreBtn", function(e) {
            var id = parseInt($(this).val());
            var isIgnored = $.inArray(id, myIgnoreList);
 
            if (isIgnored == -1)
                myIgnoreList.push(id);
            else
                $.ajax({
                    type : 'POST',
                    url : baseUrl + 'api/profile/',
                    data : {
                        ignore : "[" + myIgnoreList.toString() + "]"
                    },
                    beforeSend : function(req) {
                        req.setRequestHeader('Authorization', loginstring);
                    },
                    success : function(data) {
                        alert("OK");
                        doGetUserList();
                    },
                    error : function(msg) {
                        alert("Fail to set data");
                    }
                });
        });
 
        $("#refreshBtn").click(doCancel);
    });
</script>




    </body>
</html>

